<header>
    <div class="top_header">
        <h1>EXPRESS</h1>
    </div>
    <div class="bottom_header">
        
       
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/contacts">contacts</a>
                </li>
                <li>
                    <a href="/services">services</a>
                </li>
            </ul>
        </nav>
    </div>
</header>